html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;    
    background-image: url(../Assets/img/JuegoBG.png);
    background-repeat: no-repeat;
	background-size: cover;
    background-position: center;
    color: #a9a494;
    background-color: black;
    justify-content: center;
    text-align: center;
}
/*Boton*/
button{
  font-family: "Piazzolla", serif;
  font-size: 1.05em;
  text-decoration: none;
  width: 10vw;
  height: 5vh;
  margin-bottom: -2.5%;
}
/*Tableros*/
#ContenedorGeneral{
    display: grid;
    grid-template-columns: auto;
    place-items: center; 
}
.ContenedorTableros{
    display: grid;
    grid-template-columns: auto auto auto;
    place-items: center; 
}
.jugador{
    display: grid;
    grid-template-columns: auto;

    margin: 1vh 1vw;

    background-image:  url("../Assets/img/madera.jpg");
}
#Dado{
    background-color: rgb(233, 233, 144);

    width: 5vw;
    height: 10vh;
    margin: 3vh 3vw;

    display: flex;
    align-items: center;
    justify-content: center;
}
.tablero{
    display: grid;
    grid-template-columns: auto auto auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 20vw;
    height: 20vh ;
    margin: 3vh 3vw;

    align-items: center;
    justify-content: center;
}
#TableroA{
    background-image:  url("../Assets/img/TerciopeloRojo.jpg");
} 
#TableroB{
    background-image:  url("../Assets/img/TerciopeloMorado.jpg");
}
.ColumnasT{
    margin: 1vh 1vw;
    background-color: rgb(233, 233, 144);
}
.ColumnasT:hover{
    display:block;

    border-width: thick;
    background-color: green;
    border-style: dotted;
    border-color: aqua;

}
.FilasT{
    display: block;
    margin: 1vh 1vw;
    background-color: bisque;
}

/*Cosas visuales del tablero*/
/*Selector ganador*/
#contenedorGanador {
    background-color: rgb(0, 0, 0);
    text-decoration-color: bisque;
    z-index: 2;
    position: fixed;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    padding: 5%;
    text-align: center;
}
.ObjetoInvisible{
    opacity: 0%;
}
.personaje{
    position: relative;
    width: 12.3vw;
    height: 25.1vh;
    margin: 1.5vw;
}