.botonMusica-on {
  background-image: url('../Assets/img/Music.png');
}
.botonMusica-off {
  background-image: url('../Assets/img/MusicNo.png');
}

/*Música*/
#BotonMusica{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    background-color: transparent;
    border-color: #2C2C2C;  

    width: 6vw;
    height: 10vh;

    position: fixed; 
    bottom: 5vh;
    right: 1vh; 
    z-index: 2; 
}

#BotonMusica:hover{
  transform:scale(1.03);
}
